.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Persons {
  margin-left: 25%;
  margin-right: 25%;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
